<div class="mt-2 d-flex justify-content-between align-items-center">

    <h3>Welcome e-Appointment Application</h3>

</div>

<div class="mt-2">

    <div class="row">

        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mt-1">

            <label>Department</label>
            <select (change)="getAllDoctorsByDepartment()" [(ngModel)]="selectedDepartmentValue" name="department"
                class="form-select">
                <option value="0">Select...</option>
                @for(dept of departmentValues(); track dept) {

                <option [value]="dept.value">
                    {{ dept.name }}
                </option>
                }
            </select>

        </div>

        @if(selectedDepartmentValue() > 0) {

        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mt-1">

            <label>Doctors</label>
            <select (change)="getAllAppointmentsByDoctorId()" [(ngModel)]="selectedDoctorId" name="doctors"
                class="form-select">
                <option value="">Select...</option>
                @for(doctor of doctorList(); track doctor) {

                <option [value]="doctor.id">
                    {{ doctor.firstName }} {{ doctor.lastName }}
                </option>

                }
            </select>

        </div>

        }

    </div>

    <div class="mt-2 d-flex justify-content-center align-items-center">

        @if(selectedDoctorId()) {

        <dx-scheduler [dataSource]="appointments()" currentView="week" [startDayHour]="9" [endDayHour]="18"
            [showAllDayPanel]="false" (onAppointmentFormOpening)="onAppointmentFormOpening($event)">
        </dx-scheduler>
        } @else {

        <div class="alert alert-info" role="alert">
            Please select Department and Doctor to see appointments.
        </div>

        }
    </div>

</div>

<!-- Create Modal -->
<div #addModal class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Appointment Form</h1>
                <button type="button" #addModalCloseBtn class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <form formValidate #form="ngForm" (ngSubmit)="create(form)" autocomplete="off">

                <div class="modal-body">

                    <div class="form-group d-flex justify-content-center mt-2">
                        <span class="alert alert-primary">{{ createAppointmentModel().startDate }} - {{
                            createAppointmentModel().endDate }}</span>
                    </div>

                    <div class="form-group mt-3">

                        <label>Identity Number:</label>
                        <input (change)="getPatientByIdentityNumber()" type="text"
                            [(ngModel)]="createAppointmentModel().identityNumber" name="identityNumber"
                            class="form-control" minlength="11" maxlength="11" required>
                        <div class="invalid-feedback">Identity Number(11 character) is required.</div>

                    </div>

                    <div class="form-group mt-3">

                        <label>First Name:</label>
                        <input #addFirstInput type="text" [(ngModel)]="createAppointmentModel().firstName"
                            name="firstName" class="form-control" minlength="3" required
                            [disabled]="createAppointmentModel().patientId !== null">
                        <div class="invalid-feedback">First Name is required.</div>
                    </div>

                    <div class="form-group mt-3">

                        <label>Last Name:</label>
                        <input type="text" [(ngModel)]="createAppointmentModel().lastName" name="lastName"
                            class="form-control" minlength="3" required
                            [disabled]="createAppointmentModel().patientId !== null">
                        <div class="invalid-feedback">Last Name is required.</div>
                    </div>

                    <div class="form-group mt-3">

                        <label>Country:</label>
                        <input type="text" [(ngModel)]="createAppointmentModel().country" name="country"
                            class="form-control" minlength="3" required
                            [disabled]="createAppointmentModel().patientId !== null">
                        <div class="invalid-feedback">Country is required.</div>

                    </div>

                    <div class="form-group mt-3">

                        <label>City:</label>
                        <input type="text" [(ngModel)]="createAppointmentModel().city" name="city" class="form-control"
                            minlength="3" required
                            [disabled]="createAppointmentModel().patientId !== null">
                        <div class="invalid-feedback">City is required.</div>

                    </div>

                    <div class="form-group mt-3">

                        <label>Street:</label>
                        <input type="text" [(ngModel)]="createAppointmentModel().street" name="street"
                            class="form-control" minlength="3" required
                            [disabled]="createAppointmentModel().patientId !== null">
                        <div class="invalid-feedback">Street is required.</div>

                    </div>

                    <div class="form-group mt-3">

                        <label>Email:</label>
                        <input type="text" [(ngModel)]="createAppointmentModel().email" name="email"
                            class="form-control" minlength="3" required
                            [disabled]="createAppointmentModel().patientId !== null">
                        <div class="invalid-feedback">Email is required.</div>

                    </div>

                    <div class="form-group mt-3">

                        <label>Phone Number:</label>
                        <input type="text" [(ngModel)]="createAppointmentModel().phoneNumber" name="phoneNumber"
                            class="form-control" minlength="3" required
                            [disabled]="createAppointmentModel().patientId !== null">
                        <div class="invalid-feedback">Phone Number is required.</div>

                    </div>

                </div>

                <!-- <input type="hidden" name="doctorId" [ngModel]="selectedDoctorId()">
                <input type="hidden" name="patientId" [ngModel]="createAppointmentModel().patientId"> -->
                <!-- <input type="hidden" name="startDate" [ngModel]="startDate()">
                <input type="hidden" name="endDate" [ngModel]="endDate()"> -->

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Appointment</button>
                </div>

            </form>

        </div>
    </div>
</div>